body {
  background: linear-gradient(225deg, #97aabd, #fff);
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.circle-icon {
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  width: 2rem;
}

.circle-icon:hover {
  opacity: 0.5;
}

/* media query to adjust size */
.guess-letters {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.heading {
  background: linear-gradient(180deg, #666, #333, #000);
}

/* Sidebar */
#difficulty {
  /* color: #463940; */
  background: #314455;
}

#game-stats {
  background: #644e5b;
}

#remaining-guesses {
  /* color: #463940; */
  background: #9e5a63;
}
#reset {
  /* color: #463940; */
  background: #c96567;
}
