body {
  background: linear-gradient(225deg, #fff, #415b72);
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

/* Keypad */
#keypad {
  max-width: 36rem;
}

.circle-icon {
  background: #c96567;
  border-color: #644e5b;
  border-style: solid;
  cursor: pointer;
  width: 2rem;
}

.circle-icon:hover {
  opacity: 0.5;
}

.error-alert {
  min-height: 3rem;
}

/* media query to adjust size */
.guess-letters {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.heading {
  background: linear-gradient(270deg, #c96567, #644e5b, #314455);
}

.bg-alt {
  background: #314455;
}

hr {
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  width: 75%;
}

#message-display {
  min-height: 3.5rem;
}

#guess-area {
  min-height: 3rem;
}

#lose-alert {
  min-height: 5rem;
}

#lucky-guess .btn {
  background-color: #c96567;
}

/* Sidebar */
#difficulty {
  /* color: #463940; */
  background: #314455;
}

#game-stats {
  background: #644e5b;
}

#remaining-guesses {
  /* color: #463940; */
  background: #9e5a63;
}

#reset {
  /* color: #463940; */
  background: #c96567;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 750ms;
}

/* Difficulty Slider */
.custom-range::-webkit-slider-thumb {
  background: #9e5a63;
}

.custom-range::-moz-range-thumb {
  background: #9e5a63;
}

.custom-range::-ms-thumb {
  background: #9e5a63;
}
