body {
  background: linear-gradient(225deg, #fff, #415b72);
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.circle-icon {
  /* border-radius: 50%; */
  background: #c96567;
  border-color: #644e5b;
  border-style: solid;
  cursor: pointer;
  width: 2rem;
}

.circle-icon:hover {
  opacity: 0.5;
}

.error-alert {
  min-height: 3rem;
}

/* media query to adjust size */
.guess-letters {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.heading {
  background: linear-gradient(180deg, #666, #333, #000);
}

.bg-alt {
  background: #314455;
}

hr {
  background-color: #fff;
  width: 75%;
}

#lucky-guess .btn {
  background-color: #c96567;
}

/* Sidebar */
#difficulty {
  /* color: #463940; */
  background: #314455;
}

#game-stats {
  background: #644e5b;
}

#remaining-guesses {
  /* color: #463940; */
  background: #9e5a63;
}

#reset {
  /* color: #463940; */
  background: #c96567;
}
